<h1>Add new Person</h1>
<%provide(:title, "New customer") %>
<div class="well">
	<div class="row">
		<div class="span6">
		<%= form_for @person do |f| %>
		<%= render 'layouts/form_fields', :f => f %>
		<%= f.submit "Create Person", class: "btn btn-large btn-primary" %> | <%= link_to 'Cancel', root_path %>
	</div>
	</div>
</div>
<% end %>