<% if @person.errors.any? %>
<div id="error_explanation">
<div class="alert alert-error">
Please check field values <%=pluralize(@person.errors.count, "error") %>
</div>
<% @person.errors.full_messages.each do |msg| %>
	<ul>
		<li><%= msg %> </li>
	</ul>
	<% end %>
	</div>
<% end %>