
<%=provide(:title,"Company Intranet") %>
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Afrails</li>
			<li class="active"><%=link_to "Customers", people_path %></li>
			<li><%=link_to "Companies", companies_path %></li>
		</ul>
	</div>
</div>

<div class="span9">
	<div class="hero-unit">
	<h3>Hello welcome to the Office Intranet</h3>
	<article>Please sign in to access company resources. All new users must create an account using the sign up link. Thank you. </article>
</div>
	</div>