<footer class="footer">
	<small>
		<a href="http://afrails.com/">AfRails Web Development & Design</a>
	</small>
	
	<nav>
		<ul>
			<li>About</li>
			<li>Connect with us</li>
			<li>Be careful we bite</li>
		</ul>
	</nav>
</footer>
